table, th, td {
    border: 1px solid black;
  }

#registered{
  display: none;
  background-color: rgb(178, 202, 223);
  padding-bottom:3rem;
  margin-left:18rem;
  margin-right:18rem;
  
}
#studentDetails{
  display: none;
  padding-bottom: 6rem;
 
}

#register{
  
  background-color: rgb(190, 204, 224);

  
}

#reg-btn{
  background-color: rgb(151, 170, 150);
  margin-left: 5rem;

  

}

.intro{

  margin-top: 2rem;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-bottom:1rem;
}
.intro > div{
  height: 1rem;
  padding-top:3rem;
  padding-bottom:3rem;
  padding-left:10rem;
  padding-right:10rem;
  border-radius:0.5rem;

  
}
.centre{
  text-align:center; 
  margin-top:3rem;
  margin-bottom:3rem;
}
.form{
  margin-left:43rem;
  
}
input{
  margin-bottom:1.5rem;
  background-color: rgb(232, 237, 238);
  padding:0.5rem;
  border: none;


}

#save-btn{
  background-color: rgb(147, 147, 173);
  width:5rem;
  height:2.5rem;
  border-radius: 1rem;
  margin-left:46rem;

  
}

.tableDiv{
  padding: 2rem;
  display:flex;
  justify-content: center;

  
}
#table{

  border: 2px solid rgb(154, 154, 189);
  font-family: 'Domine', serif;
  font-family: 'Libre Baskerville', serif;
  width:100%;
  border-collapse: collapse;
}
th{
  padding:1rem;
  color:rgb(20, 68, 172);
  background-color:rgb(144, 144, 182);
  text-align: left;
}
tr>td{
  background-color:rgb(226, 226, 235);
  padding-left:1rem;
  padding-top: 1rem;  
}
.header{
  margin-left:16rem;
  padding-top:1rem;
}
body{
  font-family: 'Domine', serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Libre Baskerville', serif;
  background-image:url("page2.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

