.content {
    background-color: grey;
    padding: 10px;
}
#singer {
    color:rgb(212, 23, 23);
}
#lyrics {
    text-align: center;
    color: rgb(10, 10, 10);

}

p {
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-align:center;
}

a:hover {
    color: green;
}
