img {
    height: 300px;
}

.heading {
    font-family: 'Kalam', cursive;
    color: red;
}

img {
    text-align: center;
}

p {
    font-family: 'Chilanka', cursive;
}

li {
    font-family: 'Architects Daughter', cursive;
}

